In [2]:
import pandas as pd
import numpy as np

# 1.创建DataFrame
题目：将下面的字典创建为DataFrame
  * 注意传递的字典类型，必须有[]

In [11]:
# 字典类型1
data={"grammer":["Python","C","Java","Go","R","SQL","PHP","Python"],
     "score":[1,2,np.nan,4,5,6,7,10]}
# 字典类型2
# data={"grammer":"Python",
#      "score":[1,2]}
# 字典类型3
# data={"grammer":"Python"} #ValueError:如果使用所有标量值，则必须传递索引
df=pd.DataFrame(data)

# 2.数据提取
提取含有字符串“Python”的行

In [16]:
# 列的提取方式有两种
# df['grammer']
df.grammer

# .str方法适应于Series
df['grammer'].str #StringMethods

#.str方法可以使用字符串的相关属性和方法
df['grammer'].str.contains('Python') #NaN的bool类型仍为NaN

#bool Series在DataFrame中起关键作用，配合df使用索引数量须一致
df[df['grammer'].str.contains('Python')]

  grammer  score
0  Python    1.0
7  Python   10.0

* 若grammer列存在缺失值

In [19]:
data={"grammer":["Python","C","Java","Go",np.nan,"SQL","PHP","Python"],
     "score":[1,2,np.nan,4,5,6,7,10]}
df2=pd.DataFrame(data)
df2

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      Go    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

In [32]:
len(df2) #8

len(df2['grammer'].dropna().str.contains('Python')) #7
df2['grammer'].dropna().str.contains('Python') #只能得到bool类型
# df2[df2['grammer'].dropna().str.contains('Python')] #出错，不能获取含“Python”的列

0     True
1    False
2    False
3    False
5    False
6    False
7     True
Name: grammer, dtype: bool

In [31]:
df2['grammer'].isnull()
~df2['grammer'].isnull()#取反
df2[~df2['grammer'].isnull()] #选取不是空值的行，两种方法任选其一
df2[df2['grammer'].notnull()]

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      Go    4.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

In [35]:
df2=df2[~df2['grammer'].isnull()]
result=df2[df2['grammer'].str.contains('Python')]
result

  grammer  score
0  Python    1.0
7  Python   10.0

# 3.提取列名
输出df的所有列名